<div class="features-container">
  <h1>Fullstack Project <span style="color: orange">#EShop</span></h1>
  <hr />
  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading fw-normal lh-1">Angular</h2>
      <p class="lead text-muted">
        Frontend part #EShop was built with Angular.
      </p>
      <p class="lead">
        Angular is a platform and framework for building single-page client
        applications using HTML and TypeScript. Angular is written in
        TypeScript. It implements core and optional functionality as a set of
        TypeScript libraries that you import into your applications.
      </p>
    </div>
    <div class="col-md-5">
      <img src="assets/images/angular.webp" alt="placeholder" />
    </div>
  </div>

  <hr class="featurette-divider" />

  <div class="row featurette">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading fw-normal lh-1">Spring-Boot</h2>
      <p class="lead text-muted">
        Backend part #EShop was built with Spring-Boot
      </p>
      <p class="lead">
        Spring Boot is an open-source micro framework maintained by a company
        called Pivotal. It provides Java developers with a platform to get
        started with an auto configurable production-grade Spring application.
        With it, developers can get started quickly without losing time on
        preparing and configuring their Spring application.
      </p>
    </div>
    <div class="col-md-5 order-md-1">
      <img src="assets/images/spring.png" alt="placeholder" />
    </div>
  </div>

  <hr class="featurette-divider" />

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading fw-normal lh-1">MySQL</h2>
      <p class="lead text-muted">For storing data #EShop is using MySQL DB</p>
      <p class="lead">
        MySQL is an open-source relational database management system. As with
        other relational databases, MySQL stores data in tables made up of rows
        and columns. Users can define, manipulate, control, and query data using
        Structured Query Language, more commonly known as SQL.
      </p>
    </div>
    <div class="col-md-5">
      <img src="assets/images/mysql.png" alt="placeholder" />
    </div>
  </div>
</div>
