<div class="product-details-block">
  <div class="product-header">
    <img src="{{ product.imageUrl }}" alt="{{ product.name }}" />
    <div class="right-side-container">
      <h2>{{ product.name }}</h2>
      <div class="right-side-bottom">
        <h3 class="price">{{ product.price | currency : "USD" }}</h3>
        <p *ngIf="product.active" style="color: green">
          In stock <i class="bx bx-chevron-down-circle"></i>
        </p>
        <p *ngIf="!product.active" style="color: red">
          Not available <i class="bx bx-x-circle"></i>
        </p>
        <p>
          <a href="#" class="nav-icon">
            <i class="bx bx-bookmark-heart"></i>
          </a>
        </p>
        <button class="btn btn-success">Buy Now</button>
      </div>
    </div>
  </div>
  <div>
    <hr />
    <p>{{ product.description }}</p>
    <hr />
    <button class="btn btn-warning">
      <i class="bx bx-left-arrow-alt"></i>Back to catalogs
    </button>
  </div>
</div>
