<header class="p-3 text-bg-dark navbar-shadow">
  <div
    class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start"
  >
    <a
      routerLink=""
      class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none"
    >
      <img class="logo" src="../assets/images/logo.png" alt="logo" />
    </a>

    <ul
      class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0"
    >
      <li><a routerLink="/products" routerLinkActive="active-link">Home</a></li>
      <li>
        <a routerLink="/features" routerLinkActive="active-link">Features</a>
      </li>
      <li><a routerLink="/about" routerLinkActive="active-link">About</a></li>
    </ul>

    <a routerLink="/cart" routerLinkActive="active-link" class="nav-icon">
      <i class="bx bxs-cart"></i>
      <span *ngIf="cartTotal > 0" class="cart-number">{{ cartTotal }}</span>
    </a>
    <a
      routerLink="/selected-products"
      routerLinkActive="active-link"
      class="nav-icon"
    >
      <i class="bx bx-bookmark-heart"></i>
      <span *ngIf="selectedTotal > 0" class="cart-number">{{
        selectedTotal
      }}</span>
    </a>
    <app-search></app-search>
    <div class="text-end">
      <div *ngIf="!isAuthenticated">
        <button
          type="button"
          class="btn btn-outline-light me-2"
          routerLink="/login"
        >
          Login
        </button>
        <button type="button" class="btn btn-warning" routerLink="/login">
          Sign-up
        </button>
      </div>
      <div *ngIf="isAuthenticated">
        <button type="button" class="btn btn-danger" (click)="logout()">
          <i class="bx bx-log-out"></i>
          Logout
        </button>
        <a routerLink="/user">
          <img
            src="assets/images/user-placeholder.jpeg"
            alt="user"
            class="user-logo"
          />
        </a>
      </div>
    </div>
  </div>
</header>
