<div class="features-container">
  <h1>Features <span style="color: orange">#EShop</span></h1>
  <hr />
  <ul class="feature-list">
    <li>
      <p>
        <i class="bx bx-data"></i>
        EShop gets the dynamic product list from MySQL DB
      </p>
      <img src="assets/images/features/angular-spring-boot-mysql.png" />
    </li>
    <hr />
    <li>
      <p>
        <i class="bx bxs-category"></i>
        Added search by product category
      </p>
      <img src="assets/images/features/category.png" />
    </li>
    <hr />
    <li>
      <p>
        <i class="bx bx-search-alt"></i>
        Added search by keyword
      </p>
      <img src="assets/images/features/search.png" />
    </li>
    <hr />
    <li>
      <p>
        <i class="bx bx-detail"></i>
        Any product has a details page from DB
      </p>
      <img src="assets/images/features/details.png" />
    </li>
    <hr />
    <li>
      <p>
        <i class="bx bx-cart"></i>
        You can add a product to cart or selected products
      </p>
      <img src="assets/images/features/cart.png" />
    </li>
    <hr />
    <li>
      <p>
        <i class="bx bx-log-in"></i>
        Added authorization and authentication with Okta service
      </p>
      <img src="assets/images/features/login.png" />
    </li>
    <hr />
    <li>
      <p>
        <i class="bx bxs-save"></i>
        You can submit your purchase, the order will be saved in DB and shown in
        your profile
      </p>
      <img src="assets/images/features/submit.png" />
    </li>
    <hr />
    <li>
      <p>
        <i class="bx bx-credit-card"></i>
        Added payment processing with Stripe service
      </p>
      <img src="assets/images/features/stripe.png" />
    </li>
    <hr />
  </ul>
  <h2>View code on GitHub:</h2>
  <a
    target="_blank"
    href="https://github.com/AlexVlaso/project-shop-frontend"
    class="btn btn-warning shadow-mr5"
    >Frontend</a
  >
  <a
    target="_blank"
    href="https://github.com/AlexVlaso/project-shop-backend"
    class="btn btn-warning shadow-mr5"
    >Backend</a
  >
</div>
