<div class="container">
  <div class="product-group-item" *ngFor="let product of productList">
    <a routerLink="/products/{{ product.id }}">
      <img src="{{ product.imageUrl }}" alt="{{ product.name }}" />
      <p>{{ product.name }}</p>
    </a>
    <p class="price">
      {{ product.price | currency : "USD" : "symbol" : "1.0-0" }}
    </p>
    <button class="btn btn-success">Add to cart</button>
  </div>
</div>
<div class="text-centre">
  <ngb-pagination
    [(page)]="currentPage"
    [pageSize]="size"
    [collectionSize]="totalElements"
    (pageChange)="getListOfProduct()"
  ></ngb-pagination>
</div>
