<div class="page-wrapper">
  <header class="p-3 text-bg-dark navbar-shadow">
    <div
      class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start"
    >
      <a
        href="/"
        class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none"
      >
        <img
          class="logo"
          src="../assets/images/4f862a7e516c4bd9b17904592c6098cf.png"
          alt="logo"
        />
      </a>

      <ul
        class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0"
      >
        <li><a href="#" class="nav-link px-2 text-secondary">Home</a></li>
        <li><a href="#" class="nav-link px-2 text-white">Features</a></li>
        <li><a href="#" class="nav-link px-2 text-white">About</a></li>
      </ul>

      <a href="#" class="nav-icon">
        <i class="bx bxs-cart"></i>
      </a>
      <a href="#" class="nav-icon">
        <i class="bx bx-bookmark-heart"></i>
      </a>
      <app-search></app-search>
      <div class="text-end">
        <button type="button" class="btn btn-outline-light me-2">Login</button>
        <button type="button" class="btn btn-warning">Sign-up</button>
      </div>
    </div>
  </header>

  <div class="main-container">
    <div class="sidebar navbar-shadow">
      <h4><i class="bx bxs-category"></i> Category</h4>
      <hr />
      <ul class="category-group">
        <li class="category-group-item">
          <a routerLink="search/Apple" routerLinkActive="active-link">
            <i class="bx bxl-apple"></i> Apple
          </a>
        </li>
        <li class="category-group-item">
          <a routerLink="product/phones" routerLinkActive="active-link">
            <i class="bx bx-mobile"></i> Phones
          </a>
        </li>
        <li class="category-group-item">
          <a routerLink="product/laptops" routerLinkActive="active-link"
            ><i class="bx bx-laptop"></i> Laptops
          </a>
        </li>
        <li class="category-group-item">
          <a routerLink="product/computers" routerLinkActive="active-link"
            ><i class="bx bx-desktop"></i> Computers</a
          >
        </li>
        <li class="category-group-item">
          <a routerLink="product/headphones" routerLinkActive="active-link"
            ><i class="bx bx-headphone"></i> Headphones</a
          >
        </li>
        <li class="category-group-item">
          <a routerLink="product/watches" routerLinkActive="active-link"
            ><i class="bx bxs-watch-alt"></i> Watches</a
          >
        </li>
        <li class="category-group-item">
          <a routerLink="product/cameras" routerLinkActive="active-link"
            ><i class="bx bx-camera"></i> Cameras</a
          >
        </li>
      </ul>
    </div>
    <div class="product-group">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
<footer>
  <ul class="nav justify-content-center border-bottom pb-3 mb-3">
    <li class="nav-item">
      <a href="#" class="nav-link px-2 text-muted">Home</a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link px-2 text-muted">Features</a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link px-2 text-muted">Pricing</a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link px-2 text-muted">FAQs</a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link px-2 text-muted">About</a>
    </li>
  </ul>
  <p class="text-center text-muted">&copy; 2022 Company, Inc</p>
</footer>
