a {
  color: aliceblue;
  text-decoration: none;
}
a:hover {
  color: rgb(243, 181, 24);
}
ngb-pagination .page-item.active .page-link {
  z-index: 3;
  color: black;
  background-color: rgb(243, 181, 24);
  border-color: #fff;
}
.logo {
  border-radius: 15px;
  width: 50px;
  height: 50px;
  margin-right: 20px;
}
.nav-icon {
  font-size: 33px;
  margin-right: 15px;
  position: relative;
}
.user-logo {
  height: 40px;
  width: 40px;
  border-radius: 20px;
  margin-left: 10px;
}
.search-form {
  display: flex;
}
.cart-number {
  position: absolute;
  padding-left: 7px;
  padding-right: 7px;
  font-size: 15px;
  border-radius: 40px;
  background-color: brown;
  top: -2px;
  left: 20px;
}
.btn-search {
  background-color: rgb(243, 181, 24);
  border: none;
  font-size: 23px;
  border-radius: 10px;
  margin-left: 3px;
  margin-right: 10px;
}
.btn-search:hover {
  background-color: rgb(252, 204, 83);
}

.navbar-shadow {
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}
.flex-container {
  display: flex;
}
.sidebar {
  height: 500px;
  width: 300px;
  margin-top: 20px;
  margin-left: 5px;
  margin-bottom: 100px;
  border-radius: 20px;
  background-color: rgb(34, 37, 41);
  color: aliceblue;
  padding-top: 20px;
  padding-left: 20px;
}
.category-group {
  list-style-type: none;
}
.category-group-item {
  margin-top: 10px;
  margin-bottom: 10px;
}
.active-link {
  font-weight: bold;
  color: rgb(243, 181, 24);
}
.page-wrapper {
  overflow: hidden;
  background-color: rgb(229, 222, 206);
}
.product-group {
  /* border: 1px solid #000; */
  min-height: 1000px;
  margin-left: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 75%;
}
.product-group a {
  color: black;
}
.product-group-item {
  height: 400px;
  width: 300px;
  border-radius: 20px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
  font-size: 20px;
  text-align: center;
  margin-top: 20px;
  margin-left: 40px;
  margin-bottom: 20px;
}
.product-group-item img {
  height: 47%;
  width: 60%;
  margin-top: 10%;
}
.product-group-item p {
  margin-left: 10%;
  margin-right: 10%;
}
.content-block {
  background-color: white;
  border-radius: 20px;
  padding: 25px 25px 25px 25px;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
  min-height: 600px;
}
.product-header {
  display: flex;
}
.product-header img {
  min-height: 500px;
  min-height: 500px;
}
.right-side-container {
  position: relative;
  margin-left: 20px;
}
.right-side-bottom {
  position: absolute;
  bottom: 0;
}
.right-side-bottom a {
  font-size: 40px;
}
.right-side-bottom a:hover {
  color: orange;
}
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.price {
  color: rgb(55, 129, 55);
}
.text-centre {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.table-image {
  border-radius: 20px;
  height: 200px;
  width: 200px;
}
.ml-10px {
  margin-left: 10px;
}
.info-message {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}
.info-message > p {
  font-size: 20px;
  font-weight: bold;
}
.main-form {
  margin: 20px 20px 20px 20px;
}
.form-area {
  position: relative;
  margin-bottom: 45px;
  padding: 50px 20px;
  border: 3px solid #ccc;
}
.form-area h3 {
  background-color: #fff;
  position: absolute;
  top: -26px;
  left: 13px;
  padding: 10px 20px;
  font-weight: 500;
  z-index: 23;
  display: inline-block;
}
.input-space {
  margin-bottom: 20px;
}
.input-space label {
  font-weight: bold;
  padding-left: 31px;
  font-size: 14px;
  margin-bottom: 50px;
}
.input-space input[type="text"] {
  width: 100%;
  height: 40px;
  border-radius: 30px;
  outline: 0;
  padding: 15px;
  border: 1px solid #ccc;
}
.input-space select {
  width: 100%;
  height: 40px;
  border-radius: 30px;
  outline: 0;
  padding: 0 10px;
  border: 1px solid #ccc;
}
.alert {
  border-radius: 30px;
  background-color: rgb(233, 98, 98);
  color: #fff;
}
#okta-sign-in-widget img {
  border-radius: 15px;
  width: 50px;
  height: 50px;
  margin-right: 20px;
}
.user-info-block {
  background-color: rgb(35, 37, 41);
  border-radius: 10px;
  color: white;
  width: 300px;
  height: 100px;
  margin-bottom: 10px;
  margin-top: 10px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
}
footer {
  margin-bottom: 0, auto;
  background-color: rgb(34, 37, 41);
  height: 130px;
}
