<div class="content-block">
  <form
    [formGroup]="checkoutFormsGroup"
    (ngSubmit)="onSubmit()"
    class="main-form"
  >
    <div formGroupName="customer" class="form-area">
      <h3>Customer</h3>
      <div class="row input-space">
        <div class="col-md-2"><label>First Name:</label></div>
        <div class="col-md-9">
          <input type="text" formControlName="firstName" />
        </div>
        <div
          *ngIf="firstName?.invalid && (firstName?.touched || firstName?.dirty)"
          class="alert"
        >
          <div
            *ngIf="firstName?.errors?.['required']||firstName?.errors?.['notOnlyWhiteSpace']"
          >
            First name is required
          </div>
          <div *ngIf="firstName?.errors?.['minlength']">
            First name must be at least 2 characters
          </div>
        </div>
      </div>
      <div class="row input-space">
        <div class="col-md-2"><label>Last Name:</label></div>
        <div class="col-md-9">
          <input type="text" formControlName="lastName" />
        </div>
        <div
          *ngIf="lastName?.invalid && (lastName?.touched || lastName?.dirty)"
          class="alert"
        >
          <div
            *ngIf="lastName?.errors?.['required']||lastName?.errors?.['notOnlyWhiteSpace']"
          >
            Last name is required
          </div>
          <div *ngIf="lastName?.errors?.['minlength']">
            Last name must be at least 2 characters
          </div>
        </div>
      </div>
      <div class="row input-space">
        <div class="col-md-2"><label>Email:</label></div>
        <div class="col-md-9">
          <input type="text" formControlName="email" />
        </div>
        <div
          *ngIf="email?.invalid && (email?.touched || email?.dirty)"
          class="alert"
        >
          <div *ngIf="email?.errors?.['required']">Email is required</div>
          <div *ngIf="email?.errors?.['pattern']">Email must be correct</div>
        </div>
      </div>
    </div>
    <div formGroupName="shippingAddress" class="form-area">
      <h3>Shipping Address</h3>
      <div class="row input-space">
        <div class="col-md-2"><label>Country</label></div>
        <div class="col-md-9">
          <select formControlName="country" (change)="handleListOfStates()">
            <option *ngFor="let country of countries" [ngValue]="country">
              {{ country.name }}
            </option>
          </select>
        </div>
        <div *ngIf="country?.invalid && country?.touched" class="alert">
          <div *ngIf="country?.errors?.['required']">Country is required</div>
        </div>
      </div>
      <div class="row input-space">
        <div class="col-md-2"><label>Region</label></div>
        <div class="col-md-9">
          <select formControlName="region">
            <option *ngFor="let state of states" [ngValue]="state">
              {{ state.name }}
            </option>
          </select>
        </div>
        <div *ngIf="region?.invalid && region?.touched" class="alert">
          <div *ngIf="region?.errors?.['required']">Region is required</div>
        </div>
      </div>
      <div class="row input-space">
        <div class="col-md-2"><label>City</label></div>
        <div class="col-md-9">
          <input type="text" formControlName="city" />
        </div>
        <div
          *ngIf="city?.invalid && (city?.touched || city?.dirty)"
          class="alert"
        >
          <div
            *ngIf="city?.errors?.['required']||city?.errors?.['notOnlyWhiteSpace']"
          >
            City is required
          </div>
        </div>
      </div>
      <div class="row input-space">
        <div class="col-md-2"><label>Address</label></div>
        <div class="col-md-9">
          <input type="text" formControlName="address" />
        </div>
        <div
          *ngIf="address?.invalid && (address?.touched || address?.dirty)"
          class="alert"
        >
          <div
            *ngIf="address?.errors?.['required']||address?.errors?.['notOnlyWhiteSpace']"
          >
            Address is required
          </div>
        </div>
      </div>
      <div class="row input-space">
        <div class="col-md-2"><label>ZipCode</label></div>
        <div class="col-md-9">
          <input type="text" formControlName="zipCode" />
        </div>
        <div
          *ngIf="zipCode?.invalid && (zipCode?.touched || zipCode?.dirty)"
          class="alert"
        >
          <div
            *ngIf="zipCode?.errors?.['required']||zipCode?.errors?.['notOnlyWhiteSpace']"
          >
            Zip code is required
          </div>
        </div>
      </div>
    </div>
    <div formGroupName="creditCard" class="form-area">
      <h3>Credit Card</h3>
      <div id="card-element"></div>
      <div
        id="card-errors"
        [ngClass]="{
          alert: displayError.textContent?.length > 0
        }"
      ></div>
    </div>
    <div class="form-area">
      <h3>Totals</h3>
      <p>Total quantity: {{ totalQuantity }}</p>
      <p>
        Total price:
        <span class="price">{{ totalPrice | currency : "USD" }}</span>
      </p>
    </div>
    <div>
      <button type="submit" class="btn btn-success">Submit</button>
    </div>
  </form>
</div>
